*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cir{
    margin-top: 300px;
    margin-left: 30px;
}
div{
    width: 100px;
    height: 100px;
    background: green;
    border-radius: 50%;
}
#cir1{
    animation-name: loader;
    animation-duration: 0.8s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    
}
#cir2{
    animation-name: loader;
    animation-duration: 0.8s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-delay: 0.1s;
    
}
#cir3{
    animation-name: loader;
    animation-duration: 0.8s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-delay: 0.2s;
    
}
#cir4{
    animation-name: loader;
    animation-duration: 0.8s;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-delay: 0.3s;
    
}
@keyframes loader {
    0%{
        background-color: aqua;
        transform: translatey(0px);
    }
    50%{
        background-color: bisque;
        transform: translateY(-100px);
    }
    100%{
        background-color: rgb(152, 101, 39);
        transform: translateY(0px);
    }
    
}
